body {
    background-color: rgb(106, 117, 148);
}

.page {

}

#refresh {
    background-color: rgb(185, 196, 230);
    border: none;
    color: rgb(70, 75, 97);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;    
}

.right {
    display: ;
    float: right;
    display: block;
    margin: auto;
    width: 30%;
    background-color:rgb(190, 198, 222);    
}

#chat {
    background-color:rgb(190, 198, 222);
}

#player {
    display: block;
    margin:auto;
    width: 100%;
}

.h1 {
    font-size: xx-large;
    margin: 4pt;
}

.h2 {
    font-size: large;
    margin: 3pt;    
}

.center-text {
    text-align: center;
}